
services:
  minio:
    image: bitnamilegacy/minio:2023-debian-11
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio_minio
      MINIO_DEFAULT_BUCKETS: spark-bucket
#    container_name: minio
    hostname: minio
    ports:
      - 9000
      - 9001:9001

  kyuubi:
    image: nekyuubi/kyuubi-playground-kyuubi:${KYUUBI_VERSION}
    container_name: kyuubi
    hostname: kyuubi
    ports:
      - 4040-4050:4040-4050
      - 10009:10009
      - 10099:10099
    volumes:
      - ${PROJECT_ROOT}/conf/core-site.xml:/etc/hadoop/conf/core-site.xml
      - ${PROJECT_ROOT}/conf/hive-site.xml:/etc/hive/conf/hive-site.xml
      - ${PROJECT_ROOT}/conf/spark-defaults.conf:/etc/spark/conf/spark-defaults.conf
      - ${PROJECT_ROOT}/conf/kyuubi-defaults.conf:/etc/kyuubi/conf/kyuubi-defaults.conf
      - ${PROJECT_ROOT}/conf/kyuubi-log4j2.xml:/etc/kyuubi/conf/log4j2.xml
#      - ./script/load-dataset-tpcds-tiny.sql:/opt/load_data/load-dataset-tpcds-tiny.sql
#      - ${PROJECT_ROOT}/script/load-dataset-tpch-tiny.sql:/opt/load_data/load-dataset-tpch-tiny.sql
      - ${PROJECT_ROOT}/init_deltalake.sql:/opt/load_data/load-dataset-deltalake.sql
    depends_on:
      - minio
